body {
  padding: 0;
  margin: 0;
}

.main-fader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  position: relative;
}

.loader svg {
  height: 300px;
  display: block;
  margin: 0 auto;
}

.loader path {
  animation-duration: 1s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  fill: #40c456;
  opacity: 0.1;
}

.loader .path-0 { animation-delay: -0.125s; }
.loader .path-1 { animation-delay: -0.25s; }
.loader .path-2 { animation-delay: -0.375s; }
.loader .path-3 { animation-delay: -0.5s; }
.loader .path-4 { animation-delay: -0.625s; }
.loader .path-5 { animation-delay: -0.75s; }
.loader .path-6 { animation-delay: -0.875s; }
.loader .path-7 { animation-delay: -1s; }

@keyframes pulse {
  0%   { opacity: 0.1; }
  30%  { opacity: 0.8; }
  100% { opacity: 0.1; }
}
